
DOMINIO=https://87ec-190-43-59-52.ngrok-free.app/admin
TEST=SI
FLOW_API_KEY=
FLOW_SECRET_KEY=
FLOW_API_KEY_TEST=
FLOW_SECRET_KEY_TEST=
URL_FLOW_TEST=https://sandbox.flow.cl/api
URL_FLOW=https://www.flow.cl/api
NOMBRE_APP=Servento
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
